.store-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:45px ;
    margin: 100px 50px;
}

.cart-container{
    background-color: rgba(95, 89, 79, 0.3);
    font-size: 20px;
}

.random-btn{
    background-color: orange;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
}

.remove-btn{
    background-color: orangered;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;

}
@media only screen and (min-width: 350px) and (max-width: 900px) {
    .header{
        width: 60%;
    }
    .header h1{
        font-size: 25px;
        position: relative;
        left: -100px;
    }
    .header a{
        position: relative;
        left: -100px;
    }
    .normal-header{
        margin-left: 140px;
    }
    .store-container{
        display: grid;
        grid-template-columns: 2fr;
        margin-left: 65px;
    }
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .theory-container{
        width: 450px;
        margin-left: 45px;
        margin-right: 0px;
    }
}
